*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
	background: linear-gradient(-45deg, #fffeb3, #ffb4e0, #ecbdff, #c8faf6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
nav{
    width: 70%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.nav-logo
{
	height: 50px;
	width: auto;
}
.white_back{
	min-height: 100%;
	width: 90%;
	background-color: #e9f0ef;
	border-width: 5px;
	border-style: solid;
	border-image: 
	  linear-gradient(
		to bottom, 
		rgb(7, 255, 152), 
		rgba(224, 224, 224, 0)
	  ) 1 100%;
	margin: 26px 66px;
	
}
.phone_name{
	font-weight: 600;
	font-family:'Courier New', Courier, monospace;
	font-size: 30px;
	padding: 0 30px;
	color: rgb(61, 84, 88);
	text-shadow: 2px 2px greenyellow;
}
.phone_image{
	display: flex;
	flex-direction: row;
}
.image_outlet{
	height: 400px;
	width: 775px;
	background-color:  #ffffff;
	margin: 10px 20px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.main_sepecs{
	background-color: #ffffff;
	height: 400px;
	width: 314px;
	margin: 10px 20px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.image_box{
	align-items: center;
	margin: 25px 84px;
	width: 600px;
	align-items: center;
}

.image_box .display{
	display: block;
}
.image_box .block{
	display: none;

}
.image_box img{
	margin: 20px 155px;
	height:350px ;
	width: auto;
}
.arr_controler img{
	height: 25px;
	position: absolute;
}
.backarrow{
	top: 355px;
    left: 135px;
	transform: rotate(-90deg);
}
.forwardarrow{
	top: 355px;
    right: 515px;
	transform: rotate(90deg);
}
.main_sepecs{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.main_sepecs img{
	height: 64px;
    width: auto;
    margin: 15px 10px 15px 0px;
	
}
.main_sepecs div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.main_sepecs div p{
	margin: 25px 0px;
	font-weight: 700;
	font-style: oblique;
	font-family: Arial, Helvetica, sans-serif;
	color: #929292;
}
.phone_basic{
	margin: 50px 58px;;
	background-color: #ffffff;
	height: auto;
	width: 90%;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.phone_basic {
 text-align: center;
}
.phone_basic h1{
	padding-top: 20px;
}
.descript_table{
	display: flex;
	flex-direction: column;
}
.component {
	display: flex;
	flex-direction:row ;
	justify-content: center;
	align-items: center;
}
.component div{
	padding: 10px;
	background-color: #ffffff;
	box-shadow: rgb(3 75 170 / 30%) 0px 19px 123px, rgb(14 0 0 / 22%) 13px 15px 12px;


}
.section{
	margin: 10px 40px 20px 90px;
}

.field{
	margin: 10px 40px 20px 40px;	
}
.about{
	margin: 10px 40px 20px 35px;
	width: 550px;
}
.section p{
	color: rgb(96, 177, 20);
	font-size: 20px;
	width: 150px;
	font-weight: 400;
	font-family: cursive ; 
}
.field p{
	color: rgb(163, 0, 49);
	font-size: 20px;
	width: 150px;
	font-weight: 400;
	font-family: cursive ; 
	text-align: left;

}
.about p{
	color: #817a7a;
	font-weight: 500;
	font-family: cursive ; 
	font-size: large;
	text-align: left;
}
.video_d{
	background-color: #ffffff;
	box-shadow: rgb(3 75 170 / 30%) 0px 19px 123px, rgb(14 0 0 / 22%) 13px 15px 12px;
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 127px;

}
.video_d iframe{
	padding: 30px;
	box-shadow: rgb(3 75 170 / 30%) 0px 19px 123px;
	border-radius: 20px;
}